body{
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: #F5F7FB;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #293264;
}

.main--heading {
  margin-bottom: 10px;
}

.main--description {
    margin-bottom: 35px;
    font-size: 1rem;
    font-weight: normal;
}

.fields-container{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.fields-form{
  max-width: 75%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5em 0.5em;
  border: 1px solid #666666;
  padding: 3em 2em;
  border-radius: 0.5em;
  background-color: #F5F7FB;
}

.fields-form label{
  font-size: 1.2rem;
}

.fields-form select{
  font-size: 1rem;
  padding: 0.4em;
}

.fields-form button{
  grid-column: span 2;
  margin: auto;
  font-size: 1rem;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 0.4em;
  background-color: #4D5B9E;
  color: #FFFFFF;
  letter-spacing: 1px;
}


.questions--container{
    width: 65%;
    margin: 40px auto;
}

.question--section{
  margin: 15px 0px;
  color: #293264;
}

.question{
  font-size: 1.7rem;
}

.options--container{
  margin: 15px 0px;
}

.option{
  margin-right: 15px;
  margin-bottom: 4px;
  padding: 5px 20px;
  border-radius: 8px;
  border: 1px solid #4D5B9E;
  background-color: unset;
  font-size: 0.95rem;
  color: #293264;
  cursor: pointer;
}

.show-answer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 35px auto;
  max-width: 80%;
  flex-wrap: wrap-reverse;
}

.btn{
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    background-color: #4D5B9E;
    color: #FFFFFF;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
  
.answer{
  font-size: 1.3rem;
  font-weight: bold;
  margin: 10px;
  width: fit-content;
}

.loader{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error{
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .questions--container{
    width: 75%;
  }
  .question{
    font-size: 1.55rem;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .question{
    font-size: 1.4rem;
  }
  .option{
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 426px) {
  .fields-form{
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .fields-form label{
    font-size: 1.2rem;
    margin-bottom: 0.4em;
  }
  .fields-form select{
    font-size: 0.9rem;
    margin-bottom: 2em;
  }
  .fields-form button{
    margin: 0;
  }
  .question{
    font-size: 1.2rem;
  }
  .options--container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .option{
    font-size: 0.9rem;
    padding: 0.5em;
  }
  .answer{
    font-size: 1rem;
    text-align: center;
  }
  .btn{
    font-size: 0.85rem;
    padding: 10px 30px;
  }
}